//- header.pug
doctype html
html(lang="en")
  head
    
    meta(charset="utf-8")
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description", content="")
    meta(name='author', content='Sam Sly')

    title= page_title

    //- Bootstrap core CSS
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css", integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS", crossorigin="anonymous")
    //- Custom styles for this template
    link(rel="stylesheet", href="../../resources/css/style.css")

    -
      const QUIET_CUTOFF = 100;
      const BUSY_CUTOFF = 200;

      function getStatus (volume, hours) {

          var status_class = 'color: black;';
          var status_message = 'No Data';

          // if closed()

          if (volume) {
              if (volume < QUIET_CUTOFF) {
                  status_class = 'color: green;';
                  status_message = 'Quiet';
              }
              else if (volume > BUSY_CUTOFF) {
                  status_class = 'color: red;';
                  status_message = 'Busy';
              }
              else {
                  status_class = 'color: yellow;';
                  status_message = 'Normal';
              }
          }

          console.log("Class: "+status_class);
          console.log("Message: "+status_message);

          return [status_class, status_message];
      };