/* style.css */

.page {
    
}

.display_table {
        border: 1px solid black;
}

th {
    padding: 10px;
    border: 1px solid black;
    text-align: left;
}

th.hours {
    font-style: italic;
}