/* style.css */

.page {
    
}

.display_table {
        
}

th {
    padding: 10px;
    text-align: left;
}

th.hours {
    font-style: italic;
    font-size: .8em;
    border: 1px solid #777777;
}

th.days {
    border: 1px solid #777777;
}