/* style.css */

.page {
    
}

.display_table {
    width: 1078px;
}

th {
    padding: 10px;
    text-align: left;
}

th.hours {
    font-style: italic;
    font-size: .6em;
    border: 1px solid #AAAAAA;
}

th.days {
    border: 1px solid #AAAAAA;
}

td {
    border: 1px dotted #CCCCCC;
}