//- home.pug
include ../partials/header.pug

body
    div.container
        div.jumbotron
            h1 Traffic on Campus
        div.page
            h3 Locations
            br
            form(method='POST', action='/select_location')
                if data
                    each location in data
                        if location.volume
                            script
                                var status = getStatus(location.volume);
                        button(type='submit', name='location', value=location.name) #{location.name}
                        | &nbsp : &nbsp
                        span(class=status.class) #{status.message}
                        br

    include ../partials/footer.pug