//- home.pug
include ../partials/header.pug

body
    div.container
        div.jumbotron
            h1 Traffic on Campus
        div.page
            h3 Locations
            br
            if data
                each location in data
                    p
                        a(href="location.html") #{location.name}
                        | : &nbsp
                        span(class=location.status) #{location.status}

    include ../partials/footer.pug