//- home.pug
include ../partials/header.pug

body
    div.container
        div.jumbotron
            h1 Traffic on Campus
        div.page
            h3 Locations
            br
            form(method='POST', action='/select_location')
                if data
                    each location in data
                        button(type='submit', name='location', value=location.id) #{location.name}
                        | &nbsp : &nbsp
                        span(style=status[location.id][0]) #{status[location.id][1]}
                        br

    include ../partials/footer.pug